# shell数学运算

In [2]:
%%bash

expr 1 + 2

3

### 部分运算符需要转义

In [3]:
%%bash
expr 2 * 3

expr: syntax error

In [6]:
%%bash
# 需要进行转义
expr 2 \* 3

6

In [7]:
%%bash
var1=10
var2=20
res=`expr $var2 / $var1`
echo The result is $res

The result is 2

### 使用[] 计算

In [10]:
%%bash
# $符和[]将某个结果赋值给某个变量
var1=$[1 + 2]
echo $var1

var2=$[$var1 * 2]
echo $var2

3
6

### bash 中浮点运算

In [11]:
%%bash
# bash中只支持浮点运算
var1=100
var2=45
res=$[$var1 / $var2]
echo "the result is $res"

the result is 2

In [15]:
%%bash
# bc解决浮点数
# scale 控制小数位,默认为0
# 格式: res=`echo "options: expression" | bc`

res=`echo "scale=4; 3.44 / 5" | bc`
echo "res: $res"

res: .6880

In [20]:
%%bash
if false; then
    variable=`bc << EOF
        options
        statements
        expressions
        EOF
    `
fi

var1=10.46
var2=43.67
var3=33.2
var4=71

var5=`bc << EOF
scale=4
a1=($var1 * $var2)
a2=($var3 * $var4)
a1 + a2
EOF
`

echo "var5: $var5"

var5: 2813.9882




mysql> explain select distinct article_id, article_channel_id,         rs_id1, rs_id2, rs_id3, rs_id4, rs_id5         from recommend_hour_20161104         where device_id = 'dc1efa9f0c558b64f9ee83e38eb4e011' and user_id = '8357417708'         and is_delete = 0         and mall in ("天猫国际", "天猫超市", "天猫精选", "淘宝精选", "聚 划算", "极有家", "飞猪", "95095医药", "阿里旅行")         order by ctime desc, confidence desc\G;
*************************** 1. row ***************************
           id: 1
  select_type: SIMPLE
        table: recommend_hour_20161104
         type: ref
possible_keys: user_id_index,device_ctime_conf_index
          key: user_id_index
      key_len: 603
          ref: const
         rows: 19
        Extra: Using index condition; Using where; Using temporary; Using filesort
1 row in set (0.00 sec)

ERROR: 
No query specified

mysql> explain select article_id, article_channel_id,         rs_id1, rs_id2, rs_id3, rs_id4, rs_id5         from recommend_hour_20161104         where device_id = 'dc1efa9f0c558b64f9ee83e38eb4e011' and user_id = '8357417708'         and is_delete = 0         and mall in ("天猫国际", "天猫超市", "天猫精选", "淘宝精选", "     算", " 极有家", "飞猪", "95095医药", "阿里旅行")         order by ctime desc, confidence desc\G;
*************************** 1. row ***************************
           id: 1
  select_type: SIMPLE
        table: recommend_hour_20161104
         type: ref
possible_keys: user_id_index,device_ctime_conf_index
          key: user_id_index
      key_len: 603
          ref: const
         rows: 19
        Extra: Using index condition; Using where; Using filesort
1 row in set (0.00 sec)

ERROR: 
No query specified

mysql> explain select article_id, article_channel_id,         rs_id1, rs_id2, rs_id3, rs_id4, rs_id5         from recommend_hour_20161104         where device_id = 'dc1efa9f0c558b64f9ee83e38eb4e011' and user_id = '8357417708'         and is_delete = 0         and mall in ("天猫国际", "天猫超市", "天猫精选", "淘宝精选", "聚 划算", " 极有家", "飞猪", "95095医药", "阿里旅行") \G;
*************************** 1. row ***************************
           id: 1
  select_type: SIMPLE
        table: recommend_hour_20161104
         type: ref
possible_keys: user_id_index,device_ctime_conf_index
          key: user_id_index
      key_len: 603
          ref: const
         rows: 19
        Extra: Using index condition; Using where
1 row in set (0.00 sec)

ERROR: 
No query specified